//@import "../bower_components/bootstrap/less/bootstrap";
@import "mixins.less";
@import "variables.less";

// Reset and dependencies
@import "normalize.less";
@import "print.less";
@import "glyphicons.less";

// Core CSS
@import "scaffolding.less";
@import "type.less";
@import "code.less";
@import "grid.less";
@import "tables.less";
@import "forms.less";
@import "buttons.less";

// Components
@import "component-animations.less";
@import "button-groups.less";
@import "input-groups.less";
@import "navs.less";
@import "navbar.less";
@import "jumbotron.less";
@import "progress-bars.less";
@import "thumbnails.less";


// Utility classes
@import "utilities.less";
@import "responsive-utilities.less";

//Redefine some vars
@navbar-default-bg: transparent;

//own vars
@primary-color: #F44336;
@dark-primary-color: #D32F2F;
@light-primary-color: #FFCDD2;
@accent-color: #607D8B;
@primary-text: #212121;
@secondary-text: #727272;
@divider-color: #B6B6B6;
@link-menu-color: #F4F4F4;
@white-text: #FCFCFC;

/* ----------- GENERAL STYLES -----------*/
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

/* ----------- HEADER STYLES -----------*/
header {
  height: 100%;
  nav.navbar.navbar-default.navbar-fixed-top {
    /*border-bottom-color: fade(@well-bg, 30%);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.7em 2em;*/

    ul.nav.navbar-nav.pull-rigth {
      @media (min-width: 768px){
        float: right;
        padding: 2px;
        li {
          .active {
            background-color: lighten(@primary-color, 20%);
            color: @primary-text;
            & a{
              color: @primary-text;
            }
            .border-top-radius(5px);
            .border-left-radius(5px);
            .border-bottom-radius(5px);
            .border-right-radius(5px);
          }

          &:hover{
            & a{
              color: @white-text;
            }
          }
        }
      }
    }
    a {
      color: @secondary-text;
    }

    &.top-nav-collapse{
      @media (min-width: 768px){
        background-color: @dark-primary-color;
      }
    }
  }
  #cover-wrapper{
    background-image: url(../img/wallpaper.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    //position: fixed;
    padding: 0;
    z-index: 10;
    #cover{
      background-color: fade(black, 90%);
      color: @white-text;
      padding: 9em 2rem;
      z-index: 100;
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
  @media(min-width:767px) {
      .navbar {
          padding: 20px 0;
          -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
          -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
          transition: background .5s ease-in-out,padding .5s ease-in-out;
      }

      nav.navbar.navbar-default.navbar-fixed-top.top-nav-collapse {
          padding: 0;
          a{
            color: @link-menu-color;
          }
      }
  }
}

/* ----------- MAIN STYLES -----------*/
main{
  //height: 100%;

  section{
    height: 100%;
    padding-top: 50px;
    text-align: center;

    &#services {
        padding-top: 50px;
        background: #eee;

        .service-title{
          color: @dark-primary-color;
          font-weight: 900;
          font-size: 2em;
        }

        h1{
          font-size: 4em;
          margin-bottom: 50px;
        }

        i.fa {
          margin-bottom: 0.5em;
        }
    }

    &.skills-section {
        background: #fff;
    }

    &.projects-section {
        background: #eee;
    }
    &.experience-section {
        background: #eee;
    }
    &.contact-section {
        background: #eee;
    }
  }
}
/* ------------------ SKILLS SECTION ------------------ */
#skills{
  h1{
    font-size: 4em;
    margin-bottom: 50px;
  }

  .tab-pane{
    .container{
      padding: 1em;
    }
    p{
      margin: 0;
      color: #666;
    }
  }
  .col-md-5{
    padding: 1em;
  }
  .jumbotron {
    padding: 0;
    padding-top: 20px;

    h3 {
      margin: 0;
    }
  }
}

/* ------------------ PROJECTS SECTION ------------------ */
#projects{
  h1{
    font-size: 4em;
    margin-bottom: 50px;
  }
  .projects-wrapper {
    .make-row();
  }
  .project-thumbnail {
    position: relative;

    // Calculate width based on number of columns available
    @media (min-width: @screen-md-min) {
      float: left;
      width: 29.9%;
    }

    &:first-child,
    &.new-row {
      margin-left: 30px;
    }

    min-height: 300px;
    background-color: #fff;
    margin: 0 20px;
    margin-bottom: 40px;
    .project-content{
      min-height: 200px;
      position: relative;
      img {
        height: 200px;
      }

      .project-hover {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 0.5s;

        .fa {
          position: absolute;
          top: 60px;
          left: 180px;
        }

        background-color: transparent;
        color: transparent;
        &:hover {
          background-color: rgba(249, 157, 151, 0.9);
          color: #333333;
          cursor: pointer;
        }
      }
    }

    .project-caption {
      height: 100%;
      width: 100%;
      position: relative;
      min-height: 10px;

      h3 {
        font-weight: bold;
        letter-spacing: 1px;
      }
      .sub-title {
        font-style: italic;
        color: #aaa;
        font-size: large;
        letter-spacing: .9px;
      }
    }
  }
  .project-panel {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.99);
    z-index: 10000;
    transition: all 0.5s;
    overflow: hidden;

    &.shown {
      display: block;

      .fa.fa-times,
      span.times {
        float: right;
        margin: 20px;
        cursor: pointer;
      }
      span.times {
        font-size: 100px;
        font-weight: lighter;
        margin-top: -20px;
      }
    }
  }
}

/* ------------------ EXPERIENCE SECTION ------------------ */
#experience {
  background-color: #fff;
  h1{
    font-size: 4em;
    margin-bottom: 50px;
  }
  
  & > .container > .row {
    position: relative;
    .timeline {
      position: absolute;
      width: 5px;
      background-color: #777;
      height: 100%;
      display: table-cell;
      left: 50%;
      
      .node-year {
        position: absolute;
        left: -15px;
        padding: 2px;
        background-color: #fff;
        border: solid 1px;
        border-radius: 3px;
      }
      
      .node {
        border-color: #333;
        border-radius: 999px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-width: 5px;
        border-style: solid;
        position: absolute;
        left: -5px;
        margin-top: 28px;
        
        &:first-child {
          margin-top: 20px;
        }
      }
    }
    .thumbnail-event {
      &.event-left .caption {
        text-align: left;
      }

      &.event-right .caption {
        text-align: right;
      }
      
      .caption {
        h3 {
          position: absolute;
          top: 150px;
        }
      }
    }
  }
}
